# Created by .ignore support plugin (hsz.mobi)
.idea/dbnavigator.xml
.idea/misc.xml
.idea/modules.xml
.idea/sql-training.iml
.idea/workspace.xml
src/
!/resources/DB_INSTALL.sql
.idea/dataSources.local.xml
.idea/dataSources/
init_commit.patch
